* { margin: 0; padding: 0;
background-color: antiquewhite;
}
.btn{ margin-bottom: 4rem; color: #000; background-color: rgb(205, 243, 173); }
a:hover{ color: red;} 

h1{text-align: center;}
a{text-decoration: none;}

.abbatext, .bonitext
{ display: block;
font-size: 1.2rem;
align-items: center;
border: 3px solid rgb(35, 101, 22);
border-radius: 1rem;
margin-right: 1rem;
}

.btkn{ border: 2px solid red; border-radius: 5px; color: green;}
.btkn:hover{ color: blue; background-color: white;} 
